/*Styles.css*/


.red{
background-color: red;
height: 100px;
width: 100px;
position: relative;/*It will not disturb other elements */
display:inline-block
}

.blue{
    background-color:blue;
    height: 100px;
width: 100px;
position: relative;/*It will not disturb other elements */
display:inline-block;
}

.yellow{
    background-color:yellow;
    height: 100px;
width: 100px;
position: relative;/*It will not disturb other elements */
display:inline-block;

}


